body, *{
    background-color: white;
    font-size: 15px;

}
form{
    margin-top : 10px;
    padding-top : 10px;
    border: 2px solid green;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

input{
    
    width: 150px;
}